<mat-card>
  <div class="container">
    <mat-table [dataSource]="users$">
      <!-- id -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let user">
          {{ user.id }}
        </mat-cell>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <a [routerLink]="['/user', user.id]" [class.selected]="user.id === selectedId">{{ user.title }}</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </div>
</mat-card>
