<mat-card>
  <div class="container">
    <mat-table [dataSource]="users">
      <!-- id -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
      </ng-container>

      <!-- name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <a
            [routerLink]="['./', user.id]"
            [class.selected]="user.id === selectedId"
            >{{ user.name }}</a
          >
        </mat-cell>
      </ng-container>

      <!-- email -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <a [routerLink]="['./', user.id]">{{ user.email }}</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </div>
</mat-card>
